  .w-header {
    text-align: center;
    color: #000000;
    font-weight: 600;
    font-size: 35px;
    margin-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .w-cursor-pointer {
    cursor: pointer;
    color: rgb(255, 255, 255);
  
  }
  
  .w-meal-plan-form .form-sec {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .w-meal-plan-form .form-sec input {
    height: 70px;
    border: 1px solid rgba(192, 167, 167, 0.5);
    border-radius: 8px;
    padding: 10px;
    font-size: 20px;
  }
  
  .w-meal-plan-form .form-sec textarea {
    height: 140px;
    border: 1px solid #868181;
    border-radius: 8px;
    padding: 10px;
    font-size: 20px;
  }
  
  .w-meal-plan-form .form-sec button {
    background-color: #1e0443;
    opacity: 67%;
    height: 60px;
    color: white;
    border-radius: 9px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .w-meal-plan-form .form-sec input[type="text"]::placeholder,
  .w-meal-plan-form .form-sec input[type="date"]::placeholder,
  .w-meal-plan-form .form-sec textarea::placeholder {
    color: black; /* Change placeholder color to gray */
  }
  

  /* mealplan.css */

.WorkoutPlanSharing {
  padding: 20px;
  background-image: url(./bgImage.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.w-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #868181;
  color: rgb(0, 0, 0);
  opacity: 0.9;
  
}

.w-form-container h1 {
  color: #1E0443;
  font-size: 24px;
  margin-bottom: 20px;
}

.w-form-label {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 0px;
}

.w-form-input {
  width: 100%;
  padding: 5px;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 35px;
  color: #000000;
  font-weight: bold;
}

.w-error {
  color: red;
  font-size: 14px;
}


.w-btn-submit {
  background-color: #b64733;
  color: white;
  padding: 10px 20px;
  margin: 5px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}


.w-submit-btn:hover {
  background-color: #1b5e39;
}

.w-model, .w-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.w-overlay {
  background: rgba(49,49,49,0.8);
}
.w-model-content {
  color: #000000;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #ffffff;
  padding: 30px 20px 20px 30px;
  border-radius: 0px;
  max-width: 600px;
  min-width: 300px;
  height: 150px;
  text-align: center;
}



.w-yes-btn{
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  margin: 5px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  position: absolute;
  bottom: 10px;
  left: 50px;
  
}
.w-no-btn{
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  margin: 5px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  position: absolute;
  bottom: 10px;
  right: 50px;
  
}

.w-plus-icon {

  padding: 0px;
  cursor: pointer;
  margin-top: 10px;
 
}
.w-plus-icon:hover {
  transform: scale(1.2);
}
.w-delete-icon {

  padding: 0px;
  margin-top: 15px;
  cursor: pointer;
}
.w-delete-icon:hover {
  transform: scale(1.2);
}

.w-btn-submit:hover {
transform: scale(1.1);
}